<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachearsServlet</servlet-name>
        <servlet-class>com.TeachearsForm.TeachearsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegFormServlet</servlet-name>
        <servlet-class>com.SchoolManagementSystem.controller.RegFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachearServlet</servlet-name>
        <servlet-class>com.SchoolManagementSystem.controller.TeachearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>com.SchoolManagementSystem.controller.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachearsServlet</servlet-name>
        <url-pattern>/TeachearsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegFormServlet</servlet-name>
        <url-pattern>/RegFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachearServlet</servlet-name>
        <url-pattern>/TeachearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
